* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Tiny5", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  background-color: #b9b7bd;
}
#main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 900px;
  width: 1300px;
}
#option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  font-size: 22px;
}
#option {
  font-size: 35px;
  margin-left: 10px;
  color: #faeebf;
}
#mode {
  font-size: 35px;
  margin-left: 10px;
  color: #faeebf;
}
#option-container > div > button {
  background-color: #868b8e;
  color: #eeede7;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Tiny5", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
#box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 850px;
  width: 750px;
  border: none;
  border-radius: 25px;
  color: #ffff;
  background-color: #868b8e;
  box-shadow: 0px 0px 10px 5px #868b8e;
}
#title > div {
  color: #faeebf;
  font-size: 70px;
}
#grid-container {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  border: 3px solid #5d6062;
}
#grid-container > #item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 6.25%;
  aspect-ratio: 1 / 1;
  background-color: #ffff;
  border-radius: 1px;
}
#grid-container > #item:hover {
  background-color: #33ff00;
}
#value-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 600px;
}
#slider-container {
  flex: 1 1 100%;
}

#text-content > p {
  color: #faeebf;
  font-size: 40px;
  font-weight: 500;
}
#clear {
  font-family: "Tiny5", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  margin-left: 12px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  color: #9f63c4;
  background-color: #eeede7;
  box-shadow: 0px 0px 10px 2px rgb(159, 158, 159);
}
#favcolor {
  height: 18px;
  width: 18px;
  padding: 0px;
  display: none;
}

/* This slider is from w3school and adjust it to my liking */
.slider {
  -webkit-appearance: none;

  appearance: none;

  width: 100%;

  height: 10px;

  background: #d3d3d3;

  outline: none;

  opacity: 0.7;

  -webkit-transition: 0.2s;

  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  appearance: none;

  width: 10px;

  height: 35px;

  background: #9f63c4;

  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;

  height: 35px;

  background: #9f63c4;

  cursor: pointer;
}
